<ion-header>
    <ion-toolbar>
        <ion-item>
            <ion-img src="https://i.ibb.co/7pB5HTD/tse-logo-small.png" class="logo"></ion-img>
        </ion-item>
        <ion-title>Login</ion-title>
    </ion-toolbar>

</ion-header>

<ion-content>

    <form #loginForm="ngForm">
        <ion-list>
            <ion-item>
                <ion-label position="floating"> Email</ion-label>
                <ion-input id="email-input" name="email" type="email" icon="star"
                           [(ngModel)]="email"
                           #emailInput=ngModel
                           required
                ></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input id="password-input" name="password" type="password"
                           [(ngModel)]="password"
                           #passwordInput=ngModel
                           required
                ></ion-input>
            </ion-item>
        </ion-list>
    </form>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-button id="signin-button" expand="full"
                    (click)="login()" [disabled]="!loginForm.form.valid">
            Login
            <ion-icon slot="end" name="log-in-outline"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-footer>
