<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button  expand="block" (click)="logout()" >
      Log Out
        <ion-icon name="power"></ion-icon>
        </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">All users</ion-title>
        </ion-toolbar>
    </ion-header>
  <div style="width:100%;text-align:center">
    <ion-button style="margin-top:5px;" (click)="addUserModal()">
        <ion-icon name="add"></ion-icon>
    </ion-button>
</div>
    <app-user-list [userList]="userList$ | async" (deletedUser)="refreshDelete($event)" (addUserClicked)="addUserModal()" (editUserClicked)="editUserModal($event)"></app-user-list>
</ion-content>
